

<!-- <app-new-child [receivedParent]='parentData' (even)="receivedChild()"></app-new-child> -->

<!-- <h1>2nd time practice (parent)</h1> -->
<div class="container-fluid">
    <div class="parent-field">
        <h1>parent</h1>
        <p>value from child :{{childData}}</p>
        <p>Parent Value : {{parent}}</p>

<app-new-child [parentData]='parent' (event)="setDataFromChild($event)"></app-new-child>
<!-- https://www.youtube.com/watch?v=DUe8y6QVPMk&ab_channel=LessononCoding -->

    </div>
</div>