<p>create-user works!</p>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">user Name</label>
                  <input type="email" class="form-control" placeholder="user name" #name>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">E-mail</label>
                  <input type="password" class="form-control" placeholder="email" #email>
                </div>
                
                <!-- <button type="submit" class="btn btn-primary" (click)="onAddUser(name, email)">add</button> -->
                <!-- uxtrendz youtube channel -->
              </form>
        </div>
        <div class="col-6">

            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">user Name</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <button>Edit</button>
                     <button>Delete</button>                  
                    </tr>
                  
                  
                </tbody>
              </table>

        </div>
    </div>
</div>