<p>create-user works!</p>
<div class="container">
    <div class="row">
        <div class="col-6">
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">user Name</label>
                  <input type="text" class="form-control" placeholder="user name" #name>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">E-mail</label>
                  <input type="email" class="form-control" placeholder="email" #email>
                </div>
                
                <button type="submit" class="btn btn-primary" (click)="onAddUser(name, email)">add</button>
                <!-- uxtrendz youtube channel -->
              </form>
        </div>
        <div class="col-6">

            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">user Name</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let post of posts; index as i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{post.username}}</td>
                    <td>{{post.email}}</td>
                    <td>
                        <button>Edit</button> &nbsp;
                     <button>Delete</button>
                    </td>                  
                    </tr>
                  
                  
                </tbody>
              </table>

        </div>
    </div>
</div>