<p>create-myuser works!</p>

<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- <form (ngSubmit)="onSubmit()"> -->
                <div class="form-group">
                  <label for="name">User Name</label>
                  <input type="text" class="form-control" id="username" [(ngModel)]="users.userName" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" [(ngModel)]="users.email" placeholder="email">
                </div>
                
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
              <!-- </form> -->
        </div>
    </div>
</div>

<!-- https://www.youtube.com/watch?v=RTCRYdF7FBA&list=PLGRDMO4rOGcNzi3CpBWsCdQSzbjdWWy-f&index=15&ab_channel=JavaGuides -->