navbar style

.navbar{
    background-color: green;
}

.navbar-light .navbar-nav .nav-link
{
    color: #fff;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover
{
    color: white;
background-color: blue;
}


.navbar-brand{
    color: white;
    font-size: 22px;
}
.nav-link{
    color: white;
}