<h1>Interpolation</h1>
<br /><br />

<h5>{{ appName }}</h5>
<h5>{{ name }}</h5>
<h5>{{ getName() }}</h5>
<h5>{{ obj }}</h5>
<h5>
  {{ obj.name }} <br />
  this is object age {{ obj.age }}
</h5>
<h5>{{ arr }}</h5>
<h5>array length is : {{ arr.length }}</h5>
<h5>
  {{ arr[0] }} <br />
  {{ arr[1] }} <br />{{ arr[2] }}
</h5>
<h5>{{ siteUrl }}</h5>
<h5>this is addition number : {{ 10 + 10 }}</h5>
<h5>this is subtraction number : {{ 10 - 10 }}</h5>
<h5>this is Multiplication number : {{ 10 * 10 }}</h5>
<h5>this is division number : {{ 10 / 10 }}</h5>

<br /><br /><br /><br />
<h1>component</h1>
<h2>What is component</h2>
<h5>
  every component have 4 file <br/> component are the building blocks of our application that are used to developed any specific feature or functionality.
</h5>



<h1>Module</h1>
<h2>What is module</h2>
<h5>Module is a complete feature of your application. as like: user authenticatoin is a complete featar</h5>


<h1>function on button click</h1>
<!-- <button (click)="getName1()">click me</button> -->
<button (click)="getName1('this is paramiter text in html')">click me</button>



<h1>events, blue, keyup, mouseover etc</h1>
<button (click)="getVal()">click me</button>
<br>
<br>

<input type="text" placeholder="keyup box" #box1 (keyup)="getData(box1.value)" />
<input type="text" placeholder="keydown box" #box2 (keydown)="getData(box2.value)" />
<input type="text" placeholder="blur box" #box3 (blur)="getData(box3.value)" />
<input type="text" placeholder="input box" #box4 (input)="getData(box4.value)" />

<h1 (mouseover)="getData('mouse over')">Mouseover event</h1>